.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container>main {
  display: grid;
  place-content: center;
  width: 100vh;
  min-height: 100vh;
}

.container>main>div {

  margin-top: 40px;

  display: flex;
  flex-direction: row;

  gap: 30px;
}